<div class="p-3 text-white">

  <h3 class="fw-bold mb-4 text-center">♻ Recycling</h3>

  <button class="side-btn" (click)="go('dashboard')">Dashboard</button>

  <hr class="text-secondary">

  <button class="side-btn" (click)="go('materials')">Materials</button>
  <button class="side-btn" (click)="go('factories')">Factories</button>
  <button class="side-btn" (click)="go('orders')">Orders</button>
  <button class="side-btn" (click)="go('users')">Users</button>
  <button class="side-btn" (click)="go('rewards')">Rewards</button>

</div>
