  <div class="content-area">
    <app-navbar></app-navbar>
    </div>
<div class="auth-container">
  <div class="auth-card">

    <h2 class="title mb-4 text-center">تسجيل الدخول</h2>

    @if (error) {
      <div class="alert alert-danger text-center">{{ error }}</div>
    }

    <form #f="ngForm" (ngSubmit)="onLogin(f)">

      <!-- Email -->
      <div class="mb-3">
        <input 
          type="email"
          name="email"
          class="form-control input-glass"
          placeholder="البريد الإلكتروني"
          required
          email
          ngModel
          #email="ngModel"
        />

        @if (email.invalid && (email.dirty || email.touched || f.submitted)) {
          <div class="text-danger mt-1 small">
            ✦ الرجاء إدخال بريد إلكتروني صالح
          </div>
        }
      </div>

      <!-- Password -->
      <div class="mb-3">
        <input 
          type="password"
          name="password"
          class="form-control input-glass"
          placeholder="كلمة المرور"
          required
          minlength="6"
          ngModel
          #password="ngModel"
        />

        @if (password.invalid && (password.dirty || password.touched || f.submitted)) {
          <div class="text-danger mt-1 small">
            ✦ كلمة المرور يجب أن تكون 6 أحرف على الأقل
          </div>
        }
      </div>

      <button type="submit" class="btn btn-primary w-100 py-2 rounded-3">
        دخول
      </button>

      <div class="text-center mt-3">
        <button class="btn btn-outline-warning mt-2" type="button" (click)="goToRegister()">
          إنشاء حساب جديد
        </button>
      </div>

    </form>

  </div>
</div>
