<div class="min-h-screen py-8 px-4 md:px-6 lg:px-8 pb-24 md:pb-8">
  <div class="max-w-7xl mx-auto space-y-8">
    <!-- Header -->
    <app-collector-header></app-collector-header>

    <!-- Active Routes Section -->
    <!-- <app-collector-active-route></app-collector-active-route> -->

    <!-- Map and Requests -->
    <div class="">

      <!-- Available Requests List -->
      <!-- <app-collector-available-requests
        (selectRequest)="selectRequest($event)"
        (acceptRequest)="acceptRequest($event)"
      ></app-collector-available-requests> -->
     <app-collector-requests></app-collector-requests>

    </div>

    <!-- Recent Collections -->
  </div>
</div>
