<div class="dashboard-container">
  <!-- Animated Background -->
  <div class="background-orb orb-1"></div>
  <div class="background-orb orb-2"></div>
  
  <div class="content-wrapper">
    <!-- Header -->
    <app-collector-header></app-collector-header>

    <!-- Active Routes Section -->
    <!-- <app-collector-active-route></app-collector-active-route> -->

    <!-- Map and Requests -->
    <div class="">

      <!-- Available Requests List -->
      <!-- <app-collector-available-requests
        (selectRequest)="selectRequest($event)"
        (acceptRequest)="acceptRequest($event)"
      ></app-collector-available-requests> -->
     <app-collector-requests></app-collector-requests>

    </div>

    <!-- Recent Collections -->
    <app-collector-recent-collections></app-collector-recent-collections>
  </div>
</div>
