<h1 class="page-title">Factories</h1>
<p class="page-sub">Manage factories and linked orders</p>

<div class="header-row">
  
  <button class="btn-primary" (click)="startAdd()">+ Add Factory</button>

  <div class="search-box">
    <input type="text" placeholder="Search..."
           [(ngModel)]="searchText"
           (input)="onSearchChange()" />
    <button class="btn-secondary" (click)="search()">Search</button>
  </div>

</div>

<div class="table-card">
  <table>
    <thead>
      <tr>
        <th>ID</th>
        <th>Name</th>
        <th>Location</th>
        <th>Details</th>
        @if (isAdmin()) { <th>Actions</th> }
      </tr>
    </thead>

    <tbody>
      @for (f of factories; track f.id) {
      <tr>
        <td>{{ f.id }}</td>
        <td>{{ f.name }}</td>
        <td>{{ f.location }}</td>

        <td>
          <button class="btn-secondary" (click)="showDetails(f.id)">View</button>
        </td>

        @if (isAdmin()) {
        <td class="actions">
          <button class="btn-edit" (click)="startEdit(f)">Edit</button>
          <button class="btn-delete" (click)="delete(f.id)">Delete</button>
        </td>
        }
      </tr>
      }
    </tbody>
  </table>
</div>

<!-- Details -->
@if(details) {
<div class="details-card">
  <h3>Factory Details</h3>

  <p><b>Name:</b> {{ details.name }}</p>
  <p><b>Location:</b> {{ details.location }}</p>

  <h4>Orders</h4>

  @if(details.orders.length === 0) {
  <p>No orders linked</p>
  } @else {
  <ul>
    @for (o of details.orders; track o.id) {
    <li>Order #{{ o.id }} — {{ o.status }}</li>
    }
  </ul>
  }

  <button class="btn-secondary" (click)="cancel()">Close</button>
</div>
}

<!-- Form -->
@if (showForm && isAdmin()) {
<div class="modal-backdrop">
  <div class="modal-card animate-popup">

    <h3 class="modal-title">
      {{ editing ? "Edit Factory" : "Add Factory" }}
    </h3>

    <input type="text" placeholder="Name" [(ngModel)]="form.name">
    <input type="text" placeholder="Location" [(ngModel)]="form.location">

    <div class="modal-actions">
      <button class="btn-save" (click)="save()">
        {{ editing ? "Save Changes" : "Add Factory" }}
      </button>

      <button class="btn-cancel" (click)="cancel()">Cancel</button>
    </div>
  </div>
</div>
}
