.stat-card {
  background: #fff;
  padding: 20px;
  border-radius: 14px;
  box-shadow: rgba(0, 0, 0, 0.05) 0px 2px 6px;
  transition: 0.2s ease;
}

.stat-card:hover {
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
}

.icon {
  margin-bottom: 10px;
}

.icon .material-icons {
  font-size: 28px;
  color: #30c474;
}

h4 {
  font-size: 15px;
  color: #666;
  margin-bottom: 5px;
  font-weight: 500;
}

h2 {
  font-size: 32px;
  font-weight: 700;
  margin: 0;
}

.sub {
  font-size: 14px;
  margin-top: 3px;
  color: #30c474;
}
