<nav class="eco-navbar" [ngClass]="{'auth-small-logo': isAuthPage()}">
  <div class="nav-container">

    <!-- LEFT SIDE — LOGO + NAME -->
<div class="eco-logo-wrapper" (click)="goTo('/')">
  <img src="assets/images/GreenZone Logo.png" class="eco-logo-img" alt="GreenZone Logo">
  <span class="eco-text">GreenZone</span>
</div>


    <!-- RIGHT SIDE — BUTTONS -->
    <div class="nav-right">

      @if (!auth.isLogged()) {

      <button class="nav-btn nav-login" (click)="goTo('login')">
        Login
      </button>

      <button class="nav-btn nav-register" (click)="goTo('register')">
        Create Account
      </button>
      }

      @if (auth.isLogged()) {

      <button class="nav-btn nav-logout" (click)="logout()">
        Logout
      </button>
      }

    </div>

  </div>
</nav>