.auth-wrapper {
  min-height: calc(100vh - 80px); /* يخلي الفورم يقرب للوسط بعد النافبار */
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(135deg, #0bb56b, #0aa45f, #06723b);
  padding: 40px 20px;
}
