<h1 class="page-title">Materials</h1>
<p class="page-sub">Manage recyclable materials and pricing</p>

<!-- Header Row -->
<div class="header-row">
  @if (isAdmin()) {
  <button class="btn-primary" (click)="startAdd()">+ Add Material</button>
  }

  <div class="search-box">
    <input type="text" placeholder="Search..." [(ngModel)]="searchText"(keyup)="onSearchChange()"/>
    <button class="btn-secondary" (click)="search()">Search</button>
  </div>
</div>

<!-- Table -->
<div class="table-card">
  <table>
    <thead>
      <tr>
        <th>ID</th>
        <th>Type</th>
        <th>Size</th>
        <th>Price</th>
        @if (isAdmin()) { <th>Actions</th> }
      </tr>
    </thead>

    <tbody>
      @for (m of materials; track m.id) {
      <tr>
        <td>{{ m.id }}</td>
        <td>{{ m.typeName }}</td>
        <td>{{ m.size }}</td>
        <td>{{ m.price }} LE</td>

        @if (isAdmin()) {
        <td class="actions">
          <button class="btn-edit" (click)="startEdit(m)">Edit</button>
          <button class="btn-delete" (click)="delete(m.id)">Delete</button>
        </td>
        }
      </tr>
      }
    </tbody>
  </table>
</div>

<!-- Form -->
@if (showForm && isAdmin()) {
<div class="form-card">
  <h3>{{ editing ? "Edit Material" : "Add Material" }}</h3>

  <input type="text" placeholder="Type Name" [(ngModel)]="form.typeName">
  <input type="text" placeholder="Size" [(ngModel)]="form.size">
  <input type="number" placeholder="Price" [(ngModel)]="form.price">

  <button class="btn-save" (click)="save()">
    {{ editing ? "Save Changes" : "Add Material" }}
  </button>
  <button class="close-btn" (click)="cancel()">Cancel</button>

</div>
}