<h1 class="page-title">Materials</h1>
<p class="page-sub">Manage recyclable materials and pricing</p>

<div class="header-row">

  @if (isAdmin()) {
  <button class="btn-add" (click)="startAdd()">♻️ Add Material</button>
  }

  <div class="search-box">
    <input type="text" placeholder="Search materials..." [(ngModel)]="searchText" (keyup)="onSearchChange()" />
    <button class="btn-search" (click)="search()">
      Search
    </button>
  </div>
</div>

<div class="table-card">
  <table>
    <thead>
      <tr>
        <th>#</th>
        <th>Material</th>
        <th>Size</th>
        <th>Price</th>
        @if (isAdmin()) { <th>Actions</th> }
      </tr>
    </thead>

    <tbody>
      @for (m of materials; track m.id) {
      <tr>
        <td>{{ m.id }}</td>
        <td>{{ m.typeName }}</td>
        <td>{{ m.size }}</td>
        <td>{{ m.price }} LE</td>

        @if (isAdmin()) {
        <td class="actions">
          <button class="btn-icon edit" (click)="startEdit(m)">Edite</button>
          <button class="btn-icon delete" (click)="delete(m.id)">Delete</button>
        </td>
        }
      </tr>
      }
    </tbody>
  </table>
</div>

@if (showForm && isAdmin()) {
<div class="modal-backdrop">
  <div class="modal-card animate-popup">

    <h3 class="modal-title">
      {{ editing ? "✏️ Edit Material" : "♻️ Add Material" }}
    </h3>

    <input type="text" placeholder="Material Type" [(ngModel)]="form.typeName">
    <input type="text" placeholder="Size (KG/L)" [(ngModel)]="form.size">
    <input type="number" placeholder="Price in LE" [(ngModel)]="form.price">

    <div class="modal-actions">
      <button class="btn-save" (click)="save()">
        {{ editing ? "💾 Save Changes" : "✨ Add Material" }}
      </button>

      <button class="btn-cancel" (click)="cancel()">Cancel</button>
    </div>

  </div>
</div>
}
