.page-title {
  font-size: 28px;
  font-weight: 700;
}

.page-sub {
  margin-top: -5px;
  color: #6c757d;
}

.header-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 20px 0;
}

/* Buttons */
.btn-primary {
  background: linear-gradient(135deg, #0d6efd, #0b58d0);
  padding: 9px 16px;
  color: white;
  border-radius: 8px;
  border: none;
  font-size: 14px;
  cursor: pointer;
  transition: 0.25s ease;
}

.btn-secondary {
  background: linear-gradient(135deg, #0d6efd, #0b58d0);
  padding: 10px 16px;
  color: white;
  border-radius: 8px;
  border: none;
}

.search-box {
  display: flex;
  gap: 10px;
  align-items: center;
  margin-left: 20px;
  justify-content: flex-end;
}

.search-box input {
  padding: 10px 12px;
  width: 230px;
  border-radius: 8px;
  border: 1px solid #ced4da;
  font-size: 14px;
  transition: 0.2s;
}

.search-box input:focus {
  outline: none;
  border-color: #0d6efd;
  box-shadow: 0 0 3px rgba(13,110,253,0.4);
}
/* Table */
.table-card {
  background: white;
  padding: 20px;
  border-radius: 14px;
  box-shadow: 0 2px 8px #0001;
}

table {
  width: 100%;
  border-collapse: collapse;
}

th {
  color: #6c757d;
  font-weight: 600;
  padding-bottom: 10px;
}

td {
  padding: 12px 5px;
  border-top: 1px solid #eee;
}

.actions button {
  margin-right: 8px;
}

.btn-edit {
  background: #ffc107;
  padding: 6px 12px;
  color: black;
  border-radius: 6px;
  border: none;
}

.btn-delete {
  background: #dc3545;
  padding: 6px 12px;
  color: white;
  border-radius: 6px;
  border: none;
}

/* Form */
.form-card {
  background: white;
  padding: 20px;
  margin-top: 25px;
  border-radius: 14px;
  box-shadow: 0 2px 8px #0001;
}

.form-card input {
  width: 100%;
  border: 1px solid #ddd;
  padding: 10px;
  border-radius: 8px;
  margin-bottom: 10px;
}

.btn-save {
  background: #198754;
  color: white;
  border: none;
  padding: 12px;
  width: 100%;
  border-radius: 8px;
}
.close-btn {
  width: 100%;
  padding: 12px;
  background: #6c757d;
  color: white;
  border-radius: 8px;
  border: none;
  margin-top: 12px;
  cursor: pointer;
}
