<app-navbar></app-navbar>

<div class="auth-wrapper" [ngClass]="{'register-page': isRegister()}">
  <div class="auth-card">

    <!-- LOGO -->
    <div class="eco-logo-big">
      <div class="leaf one"></div>
      <div class="leaf two"></div>
    </div>

    <h2 class="auth-title">Create Account</h2>
    <p class="auth-subtitle">Join GreenZone and start making a difference</p>

    <!-- ERROR MESSAGE -->
    @if (error) {
    <div class="alert alert-danger">{{ error }}</div>
    }

    <form #f="ngForm" (ngSubmit)="onRegister(f)">

      <input class="auth-input" name="fullName" ngModel required (input)="clearError()" placeholder="Full Name">

      <input class="auth-input" type="email" name="email" ngModel required (input)="clearError()"
        placeholder="you@example.com">

      <input class="auth-input" type="password" name="password" ngModel required minlength="6" (input)="clearError()"
        placeholder="Create a secure password">

      <input class="auth-input" type="password" name="confirmPassword" ngModel required minlength="6"
        (input)="clearError()" placeholder="Confirm password">


      <!-- PASSWORD MATCH ERROR -->
      @if (f.submitted && f.value.password !== f.value.confirmPassword) {
      <div class="text-danger small mb-2">
        Passwords do not match ❌
      </div>
      }

      <!-- SUBMIT BUTTON -->
      <button class="auth-btn" type="submit">
        Create Account
      </button>

      <!-- FOOTER LINK -->
      <div class="auth-footer">
        Already have an account?
        <span (click)="goToLogin()">Sign in</span>
      </div>

    </form>

  </div>
</div>