<div class="auth-wrapper register-page">
  <div class="auth-card">

    <!-- LOGO -->
    <div class="eco-logo-big">
      <div class="leaf one"></div>
      <div class="leaf two"></div>
    </div>

<h2 class="auth-title">Let’s Get You Started</h2>
<p class="auth-subtitle">Sign up in seconds and be part of GreenZone</p>


    <!-- ERROR -->
    @if (error) {
      <div class="alert alert-danger">{{ error }}</div>
    }

    <form #f="ngForm" (ngSubmit)="onRegister(f)">

      <!-- Full Name -->
      <input
        class="auth-input"
        name="fullName"
        ngModel
        required
        placeholder="Full Name"
        (input)="clearError()"
      >

      <!-- Email -->
      <input
        class="auth-input"
        type="email"
        name="email"
        ngModel
        required
        placeholder="Email Address"
        (input)="clearError()"
      >

      <!-- Phone -->
      <input
        class="auth-input"
        name="phoneNumber"
        ngModel
        required
        placeholder="Phone Number"
        (input)="clearError()"
      >

      <!-- Password -->
      <input
        class="auth-input"
        type="password"
        name="password"
        ngModel
        required
        minlength="6"
        placeholder="Password"
        (input)="clearError()"
      >

      <!-- Confirm Password -->
      <input
        class="auth-input"
        type="password"
        name="confirmPassword"
        ngModel
        required
        minlength="6"
        placeholder="Confirm Password"
        (input)="clearError()"
      >

      <!-- Address -->
      <input
        class="auth-input"
        name="city"
        ngModel
        required
        placeholder="City"
      >

      <input
        class="auth-input"
        name="street"
        ngModel
        required
        placeholder="Street"
      >

      <div class="row-inputs">
        <input
          class="auth-input half"
          name="buildingNo"
          ngModel
          required
          placeholder="Building No"
        >

        <input
          class="auth-input half"
          name="apartment"
          ngModel
          required
          placeholder="Apartment"
        >
      </div>

      <!-- Password mismatch -->
      @if (f.submitted && f.value.password !== f.value.confirmPassword) {
        <div class="text-danger small mb-2">
          Passwords do not match ❌
        </div>
      }

      <!-- Submit -->
      <button class="auth-btn" type="submit" [disabled]="isLoading">
        {{ isLoading ? 'Creating...' : 'Create Account' }}
      </button>

      <div class="auth-footer">
        Already have an account?
        <span (click)="goToLogin()">Login</span>
      </div>

    </form>
  </div>
</div>
