<div class="auth-wrapper">
  <div class="auth-card">

    <div class="eco-logo-big">
      <div class="leaf one"></div>
      <div class="leaf two"></div>
    </div>

    @if (status === 'loading') {
      <p class="auth-subtitle">Email confirmation is pending....</p>
    }

    @if (status === 'success') {
      <div class="alert alert-success">Email confirmed successfully ✔</div>
      <p class="auth-subtitle">You will be redirected to the login page.</p>
    }

    @if (status === 'error') {
      <div class="alert alert-danger">Invalid link ❌</div>
      <p class="auth-subtitle">Make sure the link sent to your email is correct.</p>
    }

  </div>
</div>
